spring:
  datasource:
    url:
    username:
    password:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

application:
  plantiesbackend:
    jwt:
      secret-key:
      expiration: 86400000
      refresh-token:
        expiration: 604800000

server:
  port: 8080
  address:

aws:
  s3:
    accessKeyId:
    secretKey:
    region:
    bucketName: