spring:
  datasource:
    url: jdbc:postgresql://planties-database.cq7ztlpnmlve.ap-southeast-1.rds.amazonaws.com:5432/planties_pbo
    username: developer
    password: rizal-galih-0nly
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

application:
  plantiesbackend:
    jwt:
      secret-key: 764c546677316635503337434265503849736b5564434d36504d6a4d544d6939
      expiration: 86400000
      refresh-token:
        expiration: 604800000

server:
  port: 12345
  address: 172.31.25.27